@use "sass:meta";
@use "sass:map";
@use "sass:string";
@use "sass:list";

@mixin media($params...) {
  $query: create-media-query($params);

  @media only screen and #{$query} {
    @content;
  }
}

@function create-media-query($data) {
  $list-width: meta.keywords($data);
  $query: "";
  $properties: (
    "max": "max-width",
    "min": "min-width",
  );

  @each $key, $value in $list-width {
    $property-value: map.get($properties, $key);

    @if string.length($query) != 0 {
      $query: $query + " and ";
    }

    // If exists statement
    @if string.index($query, $property-value) != 1 {
      $query: $query + "(#{$property-value}: #{$value})";
    }
  }
}
